@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;600;700&display=swap");

/* General Styles */
* {
  margin: 0;
  font-family: "Oswald";
  color: #333;
}

/* NavBar Styles */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar img {
  width: 100px;
  height: 55px;
}

.navbar h1 {
  color: #070707;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.navbar a:hover {
  background-color: #070707;
  color: #f2f2f2;
  text-shadow: 0 0 10px #f2f2f2;
}

/* Footer Styles */
.footer {
  margin-top: 55px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75px;
  padding: 20px;
}

.footer .links {
  margin-bottom: 20px;
}

.footer .links a {
  margin-right: 20px;
  color: #666;
  text-decoration: none;
}

.footer .links a:hover {
  color: #333;
}

.footer p {
  font-size: 14px;
  color: #999;
  text-align: center;
  margin-top: auto;
}

/* Auth Navbar Styles */
.auth-navbar {
  background-color: #007bff;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.auth-navbar a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

.auth-navbar a:hover {
  background-color: #0069d9;
  border-radius: 5px;
}